.MainWrapper {
    display: inline-block;
    width: 700px;
    height: auto;
    background-color: rgb(209, 209, 209);
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(156, 156, 156);
    
}

.DropdownWrapper {
    display: inline-block;
    margin: 20px 0;
}

.h1ToMainWrapper {
    display: block;
    font-size: 40px;
}

.h1ToMainWrapper:after {
    display: block;
    content: ' ';
    background-color: orange;
    width: 400px;
    height: 4px;
    margin: 8px 0px 0px 150px;
}

.TextToDisplay {
    display: inline-block;
    width: 35%;
    height: 40px;
    margin-top: 30px;
    resize: none;
    border: 1px solid rgb(189, 189, 189);
    border-right: none;
    word-wrap: break-word;
    color: rgb(61, 61, 61);
    padding: 5px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.BtnInputTypes{
    display: inline-block;
    border-radius: 0px;
    height: 40px;
    width: 120px;
    margin: 0;
    margin-top: 30px;
    border: 1px solid rgb(189, 189, 189);
    border-left: 2px solid rgba(255, 166, 0, 0.5);
    border-right: none;
    transition: ease-out;
}

.BtnCreate {
    display: inline-block;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 40px;
    margin: 0;
    margin-top: 30px;
    border: 1px solid rgb(189, 189, 189);
    border-left: 2px solid rgba(255, 166, 0, 0.5);
}


.BtnInputTypes:focus {
    outline: none;
}

.BtnCreate:focus {
    outline: none;
}
